#asset_manager
{
    width: 710px;
}

#asset_manager ul li
{
	float: left;
	margin-right: 15px;
	height: 20px;
}

#asset_manager .asset,
#asset_manager .asset_alternative
{
    border-top: 1px solid #9F9FA0;
    clear: both;
}

#asset_manager .asset
{
    background-color: #EAEAEA;  
}

#asset_manager .asset_alternative
{
    background-color: #FFFFFF;
}

#asset_manager #file_manager .assets_header
{
    text-transform: uppercase;
}

#asset_manager #file_manager .asset_info
{
    clear: both;
    line-height: 16px;
    cursor: pointer;
}


#asset_manager #file_manager .asset_info .file_name
{
    float: left;
    width: 180px;
}

#asset_manager #file_manager .asset_info .uploaded_by
{
    float: left;
    width: 150px;
}

#asset_manager #file_manager .asset_info .upload_date
{
    float: left;
    width: 100px;
}

#asset_manager #file_manager .asset_info .file_type
{
    float: left;
    width: 100px;
}

#asset_manager #file_manager .asset_details
{
    clear: both;
    float: none;
}

#asset_manager #file_manager .detail_row
{
    clear:both;
}

#asset_manager #file_manager .col1
{
    float: left;
    width: 120px;
    font-weight: bold;
}

#asset_manager #file_manager .col2
{
    float: left;
    width: 300px;
}

#asset_manager .actions
{
    float:left;
}

#asset_manager .actions .remove,
.grid_remove
{
    background-image:url('/incontext/assets/image/incontext_icons.gif');
    background-position:-48px center;
    background-repeat: no-repeat;
    width: 16px;
    margin: 0px 2px;
    float:left;
    cursor: pointer;
}

#asset_manager .actions .edit,
.grid_edit
{
    background-image:url('/incontext/assets/image/incontext_icons.gif');
    background-position:-32px center;
    background-repeat: no-repeat;
    width: 16px;
    margin: 0px 2px;
    float:left;
    cursor: pointer;
}


#asset_manager .actions .download,
.grid_download
{
    background-image:url('/incontext/assets/image/incontext_icons.gif');
    background-position:-80px center;
    background-repeat: no-repeat;
    width: 16px;
    margin: 0px 2px;
    float:left;
    cursor: pointer;
}

.ui-widget-content
{
    border: 0;
}


/* Component containers
----------------------------------*/
#file_manager .ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em; }
#file_manager .ui-widget .ui-widget { font-size: 1em; }
#file_manager .ui-widget input, #file_manager .ui-widget select, #file_manager .ui-widget textarea, #file_manager .ui-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }
#file_manager .ui-widget-content { background-color: #fcfdfd; color: #222222; }
#file_manager .ui-widget-content a { color: #222222; }

/* Interaction states
----------------------------------*/
#file_manager .ui-state-default, #file_manager .ui-widget-content .ui-state-default, #file_manager .ui-widget-header .ui-state-default { background-color: #D2CECB; font-weight: bold; color: #323031; }
#file_manager .ui-state-default a, #file_manager .ui-state-default a:link, #file_manager .ui-state-default a:visited { color: #2e6e9e; text-decoration: none; padding: 0; }
#file_manager .ui-state-hover, #file_manager .ui-widget-content .ui-state-hover, #file_manager .ui-widget-header .ui-state-hover, #file_manager .ui-state-focus, #file_manager .ui-widget-content .ui-state-focus, #file_manager .ui-widget-header .ui-state-focus { border: 0px; background-color: #FF9900; font-weight: bold; }
#file_manager .ui-state-hover a, #file_manager .ui-state-hover a:hover { text-decoration: none; }
#file_manager .ui-state-active, #file_manager .ui-widget-content .ui-state-active, #file_manager .ui-widget-header .ui-state-active { background-color: #f5f8f9; font-weight: bold; color: #e17009; }
#file_manager .ui-state-active a, #file_manager .ui-state-active a:link, #file_manager .ui-state-active a:visited { color: #e17009; text-decoration: none; }
#file_manager .ui-widget :active { outline: none; }

#file_manager .ui-state-highlight, #file_manager .ui-widget-content .ui-state-highlight, #file_manager .ui-widget-header .ui-state-highlight  { background-color: #FF9900; font-weight: bold; }


#file_manager .ui-icon { width: 16px; height: 16px; background-image: url('/incontext/assets/image/ui-icons_454545_256x240.png'); }
#file_manager .ui-state-disabled .ui-icon, #file_manager .ui-state-disabled.ui-icon { width: 16px; height: 16px; background-image: url('/incontext/assets/image/ui-icons_888888_256x240.png'); }

#file_manager .ui-icon-seek-next { background-position: -32px -160px; }
#file_manager .ui-icon-seek-prev { background-position: -48px -160px; }
#file_manager .ui-icon-seek-end { background-position: -64px -160px; }
#file_manager .ui-icon-seek-start { background-position: -80px -160px; }
#file_manager .ui-icon-seek-first { background-position: -80px -160px; }
#file_manager .ui-icon-triangle-1-n { background-position: 0 -16px; }
#file_manager .ui-icon-triangle-1-ne { background-position: -16px -16px; }
#file_manager .ui-icon-triangle-1-e { background-position: -32px -16px; }
#file_manager .ui-icon-triangle-1-se { background-position: -48px -16px; }
#file_manager .ui-icon-triangle-1-s { background-position: -64px -16px; }
#file_manager .ui-icon-triangle-1-sw { background-position: -80px -16px; }
#file_manager .ui-icon-triangle-1-w { background-position: -96px -16px; }
#file_manager .ui-icon-triangle-1-nw { background-position: -112px -16px; }
#file_manager .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
#file_manager .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
#file_manager .ui-icon-plus { background-position: -16px -128px; }
#file_manager .ui-icon-plusthick { background-position: -32px -128px; }
#file_manager .ui-icon-minus { background-position: -48px -128px; }
#file_manager .ui-icon-minusthick { background-position: -64px -128px; }

