#companyEditor { width: 525px; }


#companyEditor .row { clear: both; float: none; margin-bottom: 5px; }

#companyEditor .row label { display:block; line-height: 20px; }

#companyEditor .row input { width: 500px; }
#companyEditor .row .datePicker { width: 125px; }
#companyEditor .row .code { width: 125px; }
#companyEditor .checkrow input { width: auto; float:left; top:3px;}
#companyEditor .checkrow label { float:left; margin-left: 5px;}