#editAsset
{
    padding-bottom: 20px;
}

#editAsset .row
{
    clear:both;
    padding-bottom: 5px;
}

#editAsset .row div
{
    line-height: 16px;
}


#editAsset .row .col1
{
    float: left;
    width: 120px;
    font-weight: bold;
}

#editAsset .row .col2
{
    float: left;
    width: 400px;
}

#editAsset .versionHistory
{
    margin: 20px 0px;
}


#editAsset .header
{
    float: left;
    font-weight: bold;
    font-size: 12pt;
    padding: 0px 10px 10px 0px;
    height: 34px;
    line-height: 34px;
}

#editAsset #silverlightControlHost
{
    float: left;
}


#editAsset .headerRow
{
    border-bottom: 1px solid #000000;
    text-transform: uppercase;
    margin-bottom: 5px;
}


#editAsset .row .fileName
{
    float: left;
    width: 200px;
}

#editAsset .row .fileSize
{
    float: left;
    width: 100px;
}

#editAsset .row .uploadDate
{
    float: left;
    width: 100px;
}

#editAsset .row .uploadUser
{
    float: left;
    width: 100px;
}

#editAsset .row .enabled
{
    float: left;
    width: 60px;
}

#editAsset .row .actions
{
    float: left;
}

#editAsset .actions .download
{
    background-image:url('/incontext/assets/image/incontext_icons.gif');
    background-position:-80px center;
    background-repeat: no-repeat;
    width: 16px;
    margin: 0px 2px;
    float:left;
    cursor: pointer;
}

#editAsset .actions .revert
{
    background-image:url('/incontext/assets/image/incontext_icons.gif');
    background-position:-64px center;
    background-repeat: no-repeat;
    width: 16px;
    margin: 0px 2px;
    float:left;
    cursor: pointer;
}

#editAsset #quickSearchResults 
{
	position:absolute;
	width:250px;
	top:16px;
	left:0;
	z-index:1000;
	background-color:white;
	padding:3px;
	overflow-y:hidden;
	border:solid 1px #bbb;
	border-top:0;
}