#wineditvideo .fmaEditor{ width:610px; }
#wineditvideo .fmaEditor .props div { margin:0 0 10px 0; }
#wineditvideo .fmaEditor .props div input[type=text],
#wineditvideo .fmaEditor .props div textarea { width:250px; }
#wineditvideo .fmaEditor .props div textarea { height: 50px; }
#wineditvideo .fmaEditor .props div h2 { margin:0 0 5px 0; }
#wineditvideo .fmaEditor .props li { margin:0 10px 5px 0; clear: both; min-height: 25px; }
#wineditvideo .fmaEditor .props li .field,
#wineditvideo .fmaEditor .props li label { float: left; margin: 0 10px 0 0; }
#wineditvideo .fmaEditor .props li label { width: 120px; }
#wineditvideo .fmaEditor .props li .dim input[type=text] { width: 30px; }

#wineditvideo h4 { margin-bottom: 5px; font-size: 1.2em; }
