#eventEditor { width: 525px; }

#eventEditor .row { clear: both; float: none; margin-bottom: 5px; }

#eventEditor .row input.radio { margin-top: 3px; }

#eventEditor .row label { display:block; line-height: 20px; }

#eventEditor .row input { width: 500px; }
#eventEditor .row .datePicker, #eventEditor .row .timePicker  { width: 125px; }
#eventEditor .row .cost { width: 125px; }
#eventEditor .row .redirect { width: 275px; }