/* CSS for the home gallery editor modal*/
#homeGalleryEditorContent li {
list-style-type:none;
position:relative;
float:left;
width:145px;
padding:2px 5px;
}
#homeGalleryEditorContent 
{
	width:830px;
}
#homeGalleryEditorContent h2 { 
    margin:0 0 5px 0; 
}
#homeGalleryEditorContent ul.pageInfo {
width:500px;
float:left;
position:relative;
}
#homeGalleryEditorContent div #3 {
padding-top:10px;
}
#homeGalleryEditorContent li.linkFields {
 padding:2px 5px;
}
#homeGalleryEditorContent li.linkFields a { margin-bottom: 3px; }
#homeGalleryEditorContent div.adminEnterLinks {
 width:160px;
 float:left;
 position:relative;
 padding:2px 0px;
}
#homeGalleryEditorContent li.imageFields {
 width:520px;
 float:left;
 position:relative;
}