/* CSS for the home gallery editor modal*/
li {
list-style-type:none;
position:relative;
float:left;
width:165px;
padding:2px 5px;
}
#homeGalleryEditorContent {
    width:540px;
}
h2 { 
    margin:0 0 5px 0; 
}
ul.pageInfo {
width:520px;
float:left;
position:relative;
}
div #3 {
padding-top:10px;
}
li.linkFields {
 padding:2px 5px;
}
div.adminEnterLinks {
 width:160px;
 float:left;
 position:relative;
 padding:2px 0px;
}
li.imageFields {
 width:520px;
 float:left;
 position:relative;
}