/* CSS for the article chooser modal*/

#articleChooserContent
{
    width: 300px;
}

#articleChooserContent #articles 
{
	overflow: auto;
	height: 400px;
}

#articleChooserContent .article
{
    background-color: #EAEAEA;
}

#articleChooserContent .article_alternative
{
    background-color: #FFFFFF;
}

#articleChooserContent #addArticle
{
    padding-bottom: 10px;
}

#articleChooserContent .row
{
    padding: 5px;
    margin-bottom: 0;
}

#articleChooserContent #articleHeader
{
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
}

#articleChooserContent .articleName span { background-color: #FF9900; padding: 0 3px 0 2px; }
