/* CSS for the product section editor modal*/
#winproductsectioneditor #productSectionEditorContent{ width:515px; }
#winproductsectioneditor #productSectionEditorContent div { margin:0 0 10px 0; }
#winproductsectioneditor #productSectionEditorContent div textarea { width:250px; }
#winproductsectioneditor #productSectionEditorContent #txtImageLinkURL { width:310px; }
#winproductsectioneditor #productSectionEditorContent div h2 { margin:0 0 5px 0; }
#winproductsectioneditor #productSectionEditorContent .secProps li, #productSectionEditorContent .secInfo li { float:left !important; margin:0 10px 0 0; }
#winproductsectioneditor #productSectionEditorContent #txtDisplayName,
#winproductsectioneditor #productSectionEditorContent #txtTitle { width:215px; }
#productSectionEditorContent #txtShortName { width:205px; }
#winproductsectioneditor #productSectionEditorContent .sectionbody { width:510px}
#winedithomefma textarea:last {width:510px;}
