#productChooser .left *, #productChooser .right * { position:static; }
#productChooser { }

#productChooser .right { float:left; }
#productChooser .left { float:right; }
#productChooser h4  { margin:5px 0; }
#productChooser .left ul,
#productChooser .right ul { border:1px solid #323031; height:300px; width:295px; margin:0; padding:0 2px; overflow:auto; }
#productChooser .left ul li,
#productChooser .right ul li { overflow:hidden; font-weight:bold; background-color:#9F9FA0; display:block; border:1px solid #323031; color:#323031; margin-top: 2px; }
#productChooser .left ul li div.itemdiv,
#productChooser .right ul li div.itemdiv { float:left; width:250px; }
#productChooser ul li .handle { background-image:url('/incontext/assets/image/incontext_icons.gif'); width: 16px; height: 100%; cursor: move; float: left; margin-top: 4px; }
#productChooser ul li .edit { background-image:url('/incontext/assets/image/incontext_icons.gif');background-position:-32px 0;float:right;margin:3px 2px;width:16px; text-decoration: none; height: 16px; }
#productChooser ul li .text { cursor:default; width:250px; float:left; padding:3px; }
#productChooser .inContextBtn { margin:5px 2px; }
#productChooser ul li .text span { background-color: #FF9900; padding: 0 3px 0 2px; }

.ui-state-highlight { height: 1.5em; line-height: 1.2em; background-color:White !important; border:dashed 2px gray !important; }

#productChooser ul li.adminDivider { background-color: transparent; border: none; text-align: center; font-weight: normal; padding: 3px; }
