.modalWin .modalContent .m .innerContent * {position:static !important;}
.modalWin .modalContent .m .innerContent { width:600px; height:auto; }
.publishQueue table tr.labels th { background-color:#CCCCCC;font-weight:bold; }
.publishQueue table tr.odd { background-color:#EEEEEE; }
.publishQueue table td, .publishQueue table th { border:1px solid gray;padding:3px; line-height:1em; }
.publishQueue table { border-collapse:collapse;margin-bottom:10px;width:100%; }
.publishQueue { width:450px; }

.publishQueue #adminBtnSave { float:right; }

.revertlink,.download { background-image:url('/incontext/assets/image/incontext_icons.gif');background-position:-64px 0;width:16px; text-decoration: none; height: 16px; display: block; margin: 0 auto; }

.download { background-position:-80px center;}
