/* CSS for the tab editor modal*/
#wintabeditor #multiRelationshipEditor { width:500px; }
#wintabeditor #multiRelationshipEditor .right *, #multiRelationshipEditor .left * { position:static; }
#wintabeditor #featuredItems, #allItems { height:33px; list-style-type: none; margin: 0; padding: 0; }
#wintabeditor #multiRelationshipEditor .right ul, #multiRelationshipEditor .left ul { border:1px solid #323031; margin:0; padding:0 1px; overflow:auto; width:494px;}
#wintabeditor #multiRelationshipEditor .right ul { height:100px; }
#wintabeditor #multiRelationshipEditor .left ul { height:200px; }
#wintabeditor #multiRelationshipEditor .right ul li, #multiRelationshipEditor .left ul li { overflow:hidden; font-weight:bold; padding:3px; height:30px; background-color:#FFF0A5; display:block; border:2px solid #FED22F; margin:2px 2px 0 0; color:#323031; }
#wintabeditor #multiRelationshipEditor .right ul li { float:left; width:86px; }
#wintabeditor #multiRelationshipEditor .left ul li { float:left; width:235px; }
#wintabeditor .ui-state-highlight { background-color:White !important; border:dashed 2px gray !important; margin:0; padding:0; }
#wintabeditor #multiRelationshipEditor ul li .edit { background-image:url('/incontext/assets/image/incontext_icons.gif');background-position:-32px 0;float:right;margin:0 2px;width:16px; }
#wintabeditor #multiRelationshipEditor ul li .text { cursor:default; width:200px; float:left; }

#wintabeditor .tabEditor{ width:540px; }
#wintabeditor .tabEditor div { margin:0 0 10px 0; }
#wintabeditor .tabEditor div textarea { width:250px; }
#wintabeditor .tabEditor div h2 { margin:0 0 5px 0; }
#wintabeditor .tabEditor .tabProps li, .tabEditor .tabInfo li { float:left !important; margin:0 10px 0 0; }
#wintabeditor .tabEditor #txtName, .tabEditor #txtShortName { width:255px; }
#wintabeditor .tabEditor #txtBodyCopy { width:540px; }