/* CSS for the target audience editor modal*/
#wintargetaudienceeditor #targetAudienceEditorContent{ }
#wintargetaudienceeditor #targetAudienceEditorContent div { margin:0 0 10px 0; }
#wintargetaudienceeditor #targetAudienceEditorContent div textarea { width:250px; }
#wintargetaudienceeditor #targetAudienceEditorContent #txtImageLinkURL { width:310px; }
#wintargetaudienceeditor #targetAudienceEditorContent div h2 { margin:0 0 5px 0; }
#wintargetaudienceeditor #targetAudienceEditorContent .secProps li, #targetAudienceEditorContent .secInfo li { float:left !important; margin:0 10px 0 0; }
#wintargetaudienceeditor #targetAudienceEditorContent #txtDisplayName,
#wintargetaudienceeditor #targetAudienceEditorContent #txtTitle { width:215px; }
#targetAudienceEditorContent #txtShortName { width:205px; }
#wintargetaudienceeditor #targetAudienceEditorContent .sectionbody { width:510px}
#winedithomefma textarea:last {width:510px;}
