#winusereditor #userEditorHolder {
width:270px;
}
#winusereditor .formLine {
width:250px;
float:left;
margin:1px 0px;
padding:1px 0px;
}
#winusereditor .formLine label {
width:100px;
float:left;
margin-top:2px;
}
#winusereditor .formLine input {
float:right;
width:130px;
margin-left:8px;
}
#winusereditor .adminLinkBtn {
float:left;
width:240px;
position:relative;
margin-top:5px;
}

#winusereditor #divOptional
{
    float: left;
}
