@charset "utf-8";

/*Blog Styles*/

p { margin: 0 0 10px; line-height: 25px;}
.eb-post-body{
	line-height: 25px;
}

.ebd-block{
	margin: 0 0 10px;
}

.blog-right-column{
	font-size: 15px;
}

.blog-right-column a:link, .blog-right-column a:active, .blog-right-column a:visited{
	color: #76a12b;
	text-decoration: none;
}

.blog-right-column a:hover{
	color: #3b3c3d;
	text-decoration: underline;
}

.blog-right-column h3{
	color: #666;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 2.6em;
    text-transform: uppercase;
	border-bottom: 0 !important;
	text-align: left;
	padding-top: 25px;
}
.eb-image-caption span{
    margin-bottom: 0.6em;
    padding: 10px 0 5px 40px;
    position: relative;
}	


div#fd.eb .ebd-block.is-nested.nest-left{
	width: auto;
}

div#fd.eb .eb-mod-title {
    font-size: 13px;
    margin: 0;
	list-style: outside none square;
}

div#fd.eb .eb-post-title a:link, div#fd.eb .eb-post-title a:active, div#fd.eb .eb-post-title a:visited  {
    color: #222;
    text-decoration: none;
	text-transform: uppercase;
}

div#fd.eb .eb-post-title a:hover {
    color: #6b8c21;
    text-decoration: underline;
}

div#fd.eb h2{
    font-size: 26px !important;	
	margin: 0 !Important;
}

div#fd.eb .eb-post-title{
    clear: both;
    color: #222;
    font-weight: bold;
    padding-bottom: 5px;
}

div#fd.eb .mod-item + .mod-item {
    border-top: none;
    margin-top: 0px;
    padding-top: 5px;
}

div#fd.eb .eb-mod-title, div#fd.eb .eb-mod-body, div#fd.eb .eb-mod-hold, div#fd.eb .eb-mod-action, div#fd.eb .eb-mod-foot {
    padding-top: 0px;
}

.blog-right-column .mod_easybloglatestblogs .eb-mod-title a:link, .blog-right-column .mod_easybloglatestblogs .eb-mod-title a:active, .blog-right-column .mod_easybloglatestblogs .eb-mod-title a:visited{
	 color: #76a12b !important;
	 
}

.blog-right-column .mod_easybloglatestblogs .eb-mod-title a:hover{
	color: #3b3c3d !important;
	text-decoration: underline !important;
}

.blog-right-column .mod_easybloglatestblogs .eb-mod-title a:before
{
   content: '■'; 
   color: #777;
   vertical-align: middle;
   display: inline-block;
   margin-top: -5px;
   margin-right: 10px;

}

.blog-right-column .mod_easybloglatestblogs{
	margin-left: 10px;
}

div#fd.eb .mod_easybloglatestblogs .eb-mod-item + .eb-mod-item {
    border-top: none;
    margin-top: 0px;
    padding-top: 5px;
}

.blog-right-column .mod_easybloglatestblogs .eb-mod-item:before
{
   content: '■'; 
   color: #777;
   vertical-align: middle;
   display: inline-block;
   margin-top: -5px;
   margin-right: 10px;

}

.blog-right-column .mod_easybloglatestcomment .eb-mod-head{
	font-size: 13px;
	margin-left: 10px;
	line-height: 18px;
}

div#fd.mod_easybloglatestcomment .eb-mod-item + .eb-mod-item {
    border-top: none;
    margin-top: 0px;
    padding-top: 5px;
}


.blog-right-column .mod-cell strong{
	font-weight: normal !Important;
	font-size: 1em;
	color: #777;
}

.blog-right-column .mod_easybloglatestcomment .mod-cell:before
{
   content: '■'; 
   color: #777;
   vertical-align: middle;
   display: inline-block;
   margin-top: -5px;
   margin-right: 10px;

}

.blog-right-column .mod_easybloglatestcomment .mod-cell{
	padding-bottom: 5px !important;
}



.blog-right-column .mod_easybloglatestcomment .mod-muted{
	display: none;
}

.blog-right-column .mod_easybloglatestcomment .eb-mod-body{
	display: none;
}

.blog-right-column .eb-mod-head a:link, .blog-right-column .eb-mod-head a:active, .blog-right-column .eb-mod-head a:visited{
	 color: #76a12b !important;
	 
}

.blog-right-column .eb-mod-head a:hover{
	color: #3b3c3d !important;
	text-decoration: underline !important;
}

.blog-right-column .mod_easyblogarchive{
	margin-left: 10px;
	font-size: 13px;
}

.blog-right-column .mod_easyblogarchive a:link, .blog-right-column .mod_easyblogarchive a:active, .blog-right-column .mod_easyblogarchive a:visited{
	color: #76a12b !important;
}

.blog-right-column .mod_easyblogarchive a:hover{
	color: #3b3c3d !important;
	text-decoration: underline !important;
}

div#fd.mod_easyblogarchive .eb-mod-item + .eb-mod-item {
    border-top: none;
    margin-top: 0px;
    padding-top: 5px;
}


.blog-right-column .mod_easyblogcategories{
	margin-left: 10px;
	font-size: 13px;
}

.blog-right-column .mod_easyblogcategories a:link, .blog-right-column .mod_easyblogcategories a:active, .blog-right-column .mod_easyblogcategories a:visited{
	color: #76a12b !important;
}

.blog-right-column .mod_easyblogcategories a:hover{
	color: #3b3c3d !important;
	text-decoration: underline !important;
}

div#fd.mod_easyblogcategories .eb-mod-item + .eb-mod-item {
    border-top: none;
    margin-top: 0px;
    padding-top: 5px;
}

.blog-left-column{
	padding-top: 10px;
	margin-top: 15px;
	font-size: 1em;
}

.blog-left-column p{
	font-size: 1em !important;
}

.eb-meta-views{
	display: none !important;
}

.blog-left-column .eb-post-head{
	margin-bottom: 10px;
}

.eb-post-hits{
	display: none !Important;
}

.eb-post{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 40px;
}

.blog-left-column .eb-post-meta a:link, .blog-left-column .eb-post-meta a:active. .blog-left-column .eb-post-meta a:visited{
		color: #76a12b !important;
}

.blog-left-column .eb-post-meta a:hover{
	color: #3b3c3d !important;
	text-decoration: underline !important;
}


div#fd.eb .eb-image.style-gray {
    background: #eee none repeat scroll 0 0;
    border: none !important;
    border-radius: 0 !Important;
    padding: 9px;
	margin-top: 15px;
	margin-bottom: 1.625em;
	font-size: 90%;
	max-width: 96%;
}

/*.eb-entry-article .nest-left{
	max-width: 310px;
}

div#fd.eb .ebd-block.is-nested.nest-left{
	max-width: 310px !Important;
}

.aligncenter{
	max-width: 586px;
}

.eb-entry-article .nest-right{
	max-width: 310px;
}*/

div#fd.eb .ebd-block.is-nested.nest-left {
    width: auto;
}

div#fd.eb .ebd-block.is-nested.nest-right {
    width: auto;
}

.blog-profile{
	max-width: 150px !Important;
}

.eb-image-caption span::before {
    color: #666;
    content: "—";
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    left: 10px;
    margin-right: 5px;
    position: absolute;
    top: 7px;
}

div#fd.eb .eb-image-viewport {
    background: #fff none repeat scroll 0 0;
    border: none !Important;
    border-radius: 0 !Important;
    display: inline-block;
    font-size: 0;
    max-width: 100%;
    position: relative;
    text-align: center;
}

div#fd.eb .eb-image .eb-image-figure img{
    border: solid 6px #f0f0f0 !important;	
	
}

div#fd.eb .eb-image .eb-image-figure a:link img, div#fd.eb .eb-image .eb-image-figure a:active img, div#fd.eb .eb-image .eb-image-figure a:visited img {
    border: solid 6px #f0f0f0 !important;
}

div#fd.eb .eb-image .eb-image-figure a:hover img {
    display: inline-block;
    max-height: none;
    max-width: 100%;
    position: relative;
	border: solid 6px #fff !important;
}

.eb-post-content a:link .eb-post-content a:active, .eb-post-content a:visited{
	color: #76a12b;
}

 .eb-post-content a:hover{
	 color: #3b3c3d !important;
	 text-decoration: underline !important;
 }
 

 /* Medium devices (1024px and up) */
@media only screen and (min-width: 1024px){


.blog-left-column{
	padding-right: 10%;
}

}
 
 

