
@charset "utf-8";

body {
    overflow-x: hidden;
	background-image:url(/assets/images/bg-fade.jpg);
	background-repeat:repeat-x;
}

p {
    margin: 0 0 10px;
}


div.navbar-wrapper>div.container>nav.navbar{background-image:url(https://d2ucrk9xvdp3uo.cloudfront.net/home/trans.png);}

.navbar-toggle {background-color:#efefef; border:none; margin-right:-5px;}

h1 {text-transform:uppercase;}

div.col-md-4 > article > section img {margin-left:10px;}

article#cnt-main>section>div.col-md-8 {margin:0; padding:0;}

.carousel-control.left {background-image:none;}
.carousel-control.right {background-image:none;}

ul li.block {margin:5px;}


div#navbar>ul>li>ul>div>li.text-menu>a {text-align:left;}

.navbar-default {
    border-color: #e7e7e7 -moz-use-text-color;
    border-left: medium none;
    border-right: medium none;
}

div#navbar > ul > li > ul.auto2 {width:auto;}

.secondary-caption h1 {
    margin:0 0 -68px 0;
}

.navbar-brand img {
    margin-left: 15px;
}
.aside-nav a {
    background-color: #78a22f;
    color: #fff;
    display: block;
    font-size: 1.1em;
    opacity: 0.7;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.aside-nav a:hover {
    color: #000;
    margin-left: -25px;
    opacity: 1;
}
.aside-nav li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 15px;
}
.aside-nav ul {
    margin: 0;
    padding: 0;
}
ul.aside-nav li > a {
    margin-left: -15px;
}
div.col-md-4 > ul > li > a {
    line-height: 25px;
}

.clear {
    clear: both;
}
ul.product-image-gallery > li.cell {
    height: 165px;
    line-height: 14px;
    margin: 0 15px 4px 0;
    text-align: center;
}
ul.product-image-gallery {
    padding: 0;
}
.sigoak {
    background-image: url("https://d2ucrk9xvdp3uo.cloudfront.net/products/sigoak.jpg");
    clear: both;
    height: 10px;
    margin: 0 auto;
    width: 10px;
}
.sigcherry {
    background-image: url("https://d2ucrk9xvdp3uo.cloudfront.net/products/sigcherry.jpg");
    clear: both;
    height: 10px;
    margin: 0 auto;
    width: 10px;
}
.sigfir {
    background-image: url("https://d2ucrk9xvdp3uo.cloudfront.net/products/sig-fir.jpg");
    clear: both;
    height: 10px;
    margin: 0 auto;
    width: 10px;
}
.sigavail {
    background-image: url("https://d2ucrk9xvdp3uo.cloudfront.net/products/sig-avail.jpg");
    clear: both;
    height: 10px;
    margin: 0 auto;
    width: 10px;
}
.signotty {
    background-image: url("https://d2ucrk9xvdp3uo.cloudfront.net/products/sig-notty.jpg");
    clear: both;
    height: 10px;
    margin: 0 auto;
    width: 10px;
}
.sigmahog {
    background-image: url("https://d2ucrk9xvdp3uo.cloudfront.net/products/sig-mahog.jpg");
    clear: both;
    height: 10px;
    margin: 0 auto;
    width: 10px;
}
li.sigoak, li.sigcherry, li.sigfir, li.sigavail, li.signotty, li.sigmahog {
    background-repeat: no-repeat;
    clear: none;
    height: auto;
    list-style: outside none none;
    margin-left: -15px;
    width: auto;
}
ul.nolist {
    list-style-type: none;
    margin-top: 25px;
}
.icon-fb, .icon-twit, .icon-gplus, .icon-youtube, .icon-blog, .icon-pinterest, .icon-linkedin, .icon-houzz {
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    margin-right: 3px;
    width: 34px;
}
.icon-fb:hover, .icon-twit:hover, .icon-gplus:hover, .icon-youtube:hover, .icon-blog:hover, .icon-pinterest:hover, .icon-linkedin:hover, .icon-houzz:hover {
    background-position: 0 -34px;
}
.icon-fb {
    background-image: url("/assets/images/fb-icon.jpg");
}
.icon-twit {
    background-image: url("/assets/images/twit-icon.jpg");
}
.icon-gplus {
    background-image: url("/assets/images/gplus-icon.jpg");
}
.icon-youtube {
    background-image: url("/assets/images/youtube-icon.jpg");
}
.icon-blog {
    background-image: url("/assets/images/blog-icon.jpg");
}
.icon-pinterest {
    background-image: url("/assets/images/pintrest-icon.jpg");
}
.icon-linkedin {
    background-image: url("/assets/images/linkedin-icon.jpg");
}
.icon-houzz {
    background-image: url("/assets/images/houzz-icon.jpg");
}
.menu-1 {
    float: left;
    text-align: center;
    width: 100%;
}
.full {
    float: left;
    margin-top: 40px;
    width: 100%;
}
.three-quarter {
    float: left;
    width: 57.3%;
}
.quarter {
    float: left;
    width: 40%;
}
.fifth {
    float: left;
    margin-left: 1px;
    width: 19.3%;
}
.twofifth {
    float: left;
    margin-left: 1%;
    width: 38%;
}
footer {
    clear: both;
	margin:25px;
}
.quarter ul, .fifth ul, .twofifth ul {
    line-height: 24px;
    padding-left: 15px;
}

li.block {margin:5px;}

.block:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

.block img {
    height: auto;
    max-width: 105%;
    transition: all 0.2s ease-in-out 0s;
}

.block img:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}
.dark-orange {
    background-color: #b85f00;
}
.turquoise {
    background-color: #1b9ba0;
}
.lime {
    background-color: #8cc247;
}
.purple {
    background-color: #672184;
}
.dark-red {
    background-color: #882d00;
}
.red {
    background-color: #f00;
}
.brown {
    background-color: #744523;
}
.featured-block {
    color: #fff;
    padding: 30px;
    text-align: center;
}
.badge {
    bottom: 15%;
    pointer-events: none;
    position: absolute;
    right: 25px;
    z-index: 1;
}
.badge-top {
    pointer-events: none;
    position: absolute;
    right: 25px;
    top: 15%;
    z-index: 1;
}
.badge-middle {
    bottom: 40%;
    pointer-events: none;
    position: absolute;
    right: 40%;
    z-index: 1;
}
.embarq-text {
    color: #00aeef;
    font-size: 40px;
    line-height: 38px;
    margin-top: 25px;
    text-align: right;
    text-shadow: 2px 2px 4px #000;
}
.block {
    border: 4px solid #fff;
    display: block;
    float: left;
    height: 250px;
    margin: 5px;
}

._h20 img, ._h30 img {
    margin-top: -25%;
    width: 105%;
}
.overflow-container {
    left: 0;
    position: absolute;
    width: 103%;
}
.fullblock {
    background-color: #efefef;
    border: 1px solid #e5e5e5;
    float: left;
    transition: all 0.2s ease-in-out 0s;
}
.fullblock:hover {
    filter: brightness(110%);
}
.fullblock img {
    margin: 0 auto;
    width: 100%;
}
.fullblock {
    padding: 0 0 1%;
}
.break {
    margin-left: -9999px;
    margin-right: -9999px;
    text-align: center;
}
div.overflow-container.half > a {
    width: 48.7%;
}
div.overflow-container.third > a {
    width: 32.4%;
}
div.overflow-container.fourth > a {
    width: 24.3%;
}
div.overflow-container.fifth > a {
    width: 19.5%;
}
div.overflow-container.sixth > a {
    width: 16.3%;
}
div.overflow-container.seventh > a {
    width: 14%;
}
.carousel-indicators-text {
    display: block;
    padding-left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 30%;
    z-index: 15;
}
.carousel-indicators-text li {
    background-color: #fff;
    border-bottom: 1px solid #000;
    cursor: pointer;
    display: block;
    margin-right: 10px;
    padding: 10px;
}
.carousel-inner-text {
    margin-left: 30%;
    width: 70%;
}
.carousel-caption-text {
    bottom: 20px;
    color: #000;
    left: 15%;
    position: absolute;
    text-align: center;
    width: 70%;
    z-index: 10;
}

.secondary-caption {
    max-width: 1100px;
}

@media (min-width: 268px) {
	
  h1, h2, h3 {text-align:center;}
  
  .largeheader {top:70px; position:relative;}
  .largeheader h1 {font-size:2.1em;}
  
  .rowbr {clear:both;}
  
  div.overflow-container.seventh > a { width:24%; min-height:250px;}    
  
  .navbar-default,.navbar-inverse  {background:#fff;}
div#navbar.navbar-collapse.collapse {background:#fff;}
  .cell_left , .cell_right  {width:100%; padding:0;}
 .cell_left img, .cell_right img {width:70%; height:auto; padding:0;}  
  .homeimg {display:none;}
  .black .hometitle {font-size:16px;}
  .marketing img {width:90%; height:auto;}
  

  .navbar-brand {padding:15px 0 0 0 ; position:absolute; margin-left:-20px} 
  .navbar-brand img {width:202px; height:auto;}  

.embarq-text {
    color: #00aeef;
    font-size:140%;
    line-height: 38px;
    margin-top: 0px;
    text-align: right;
	text-shadow: 2px 2px 4px #000;
}  
  
  
div.label1 {bottom:31px;}
div.label-small {bottom:0px;}
  div.label-small br {display:none;}
  
div.label1.heightfix {bottom:31px; height:auto;}

  .block {     
    min-width: 268px; overflow:hidden;
	}
  
.one {width:100%; position:relative;}
.two {width:100%; position:relative;}
.three {width:100%; position:relative;}
.four {width:100%; position:relative;}

.five { width:100%; position:relative;}
.six {width:100%; position:relative;}
.seven {width:100%; position:relative;}
.eight {width:100%; position:relative;}
.nine {width:100%; position:relative;}
.ten {width:100%; position:relative;}
.eleven {width:100%; position:relative;}
.twelve {width:100%; position:relative;}
.thirteen {width:100%; position:relative;}
.fourteen {width:100%; position:relative;}

.high3 {height:200px;}
.high4 {height:200px;}
.high5 {height:200px;}
.high6 {height:200px;}
.high9 {height:200px;}
  
  .productdetail_footer ul li a {display:block; float:left; padding:20px; margin:10px; width:100%; background-color:#cfcfcf; color:#000;}
  .productdetail_footer ul li a:hover {background-color:#efefef;}
  .productdetail_footer ul li {list-style-type:none;}
  .productdetail_footer ul {margin:5; padding:0;}
  .three-quarter, .quarter, .fifth, .list-left, .twofifth {width:100%;}
  .productfooter {float:left;}
  
  .carousel .item {
	height: 550px;
}

    
  div.carousel.secondary-page-height {margin:55px 0 25px 10px;}
  div.carousel.secondary-page-height h1 {color:#000;}

  div.homepage {
    height: 180px;
}
  
  
  div.carousel.secondary-page-height >div.carousel-inner>div.item.active>img {display:none;}
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {max-width:inherit; width:200%; min-height:500px; }  
  
  .carousel .item>img{top:100px; left:0px; min-width:1000px; margin:25px 0 0 -100px;}

  .carousel-inner > .item  {position:none;}
    
  .carousel-caption { width:100%; height:250px; text-align:center; left:0; top:355px; background-color:#000; opacity:.8; text-shadow:none;}
  
  .homepage, .black, .homepage p, .black p {color:#fff; font-size:13px; line-height:120%; padding:5px;}
   
  .homepage h1, .black h1 {font-size:20px; margin-top:25px;}
   
  .carousel-caption.homepage {position:absolute; bottom:0; margin-top:35px}
  
  .carousel-caption .btn-lg {position:absolute; top:-15px; left:50%; margin-left:-50px;}
    
.feature-container {display:none;}
.feature-vid {display:block; margin:155px auto;}
  .feature-vid img {width:80%; height:auto;}
	

.secondary-caption.hero {
    left: 32px;
    margin:100px 0 0 0px;
    text-align: left;
    top: 180px;
    width: 90%;
}
	
div#navbar {
    background-color: #ebebeb;
}
div#navbar > ul > li > ul > div > li > a > img {
    display: none;
}
div#navbar > ul > li > ul > div > li > a {
    display: block;
    padding: 15px;
}
div#navbar > ul > li > ul > div > li > a:hover {
    background-color: #777;
    color: #fff;
}
.menu2, .menu3 {
    margin-left: 0;
}
.borderl-menu {
    border-left: medium none;
}
.borderr-menu {
    border-right: medium none;
}
.btn {
    background-color: #9c9c9c;
    border: medium none;
    color: #000;
    font-size: 13px;
  	text-transform: uppercase;
}
  
.btn:hover {background-color:#83b234; color:#fff;}
  
  
div#navbar > ul > li > ul > div > li > a.btn:hover {
    background-color: #777;
    color: #fff;
}
.btn-lg {
    margin: 0;
}
.btn-primary {
    margin: 0;
}
div#navbar > ul > li > ul > div > h3 {
    font-size: 15px;
    margin: 15px 0 0;
}
.menu-image {
    display: none;
}
.nav > li > a {
    clear: both;
    float: left;
    width: 100%;
}
div#navbar > ul > li > ul > div {
    clear: both;
    float: left;
    width: 100%;
}
._10 {
    position: relative;
    width: 100%;
}
._20 {
    position: relative;
    width: 100%;
}
._30 {
    position: relative;
    width: 100%;
}
._40 {
    position: relative;
    width: 100%;
}
._50 {
    position: relative;
    width: 100%;
}
._60 {
    position: relative;
    width: 100%;
}
._70 {
    position: relative;
    width: 100%;
}
._80 {

    position: relative;
    width: 100%;
}
._90 {
    position: relative;
    width: 100%;
}
._10 {
    position: relative;
    width: 100%;
}
._15 {
    position: relative;
    width: 100%;
}
._25 {
    position: relative;
    width: 100%;
}
._35 {
    position: relative;
    width: 100%;
}
._45 {
    position: relative;
    width: 100%;
}
._55 {
    position: relative;
    width: 100%;
}
._65 {
    position: relative;
    width: 100%;
}
._75 {
    position: relative;
    width: 100%;
}
._85 {
    position: relative;
    width: 100%;
}
._95 {
    position: relative;
    width: 100%;


}
._h10 {
    height: 300px;
    overflow: hidden;
}
._h15 {
    height: 300px;
    overflow: hidden;
}
._h20 {
    height: 300px;
    overflow: hidden;
}
._h25 {
    height: 300px;
    overflow: hidden;
}
._h30 {
    height: 300px;
    overflow: hidden;
}
._h35 {
    height: 300px;
    overflow: hidden;
}
._h40 {
    height: 300px;
    overflow: hidden;
}
._h45 {
    height: 300px;
    overflow: hidden;
}
._h50 {
    height: 300px;
    overflow: hidden;
}
._h55 {
    height: 300px;
    overflow: hidden;
}
._h60 {
    height: 300px;
    overflow: hidden;
}

._h65 {
    height: 300px;
    overflow: hidden;
}
._h70 {
    height: 300px;
    overflow: hidden;
}
._h75 {
    height: 300px;
    overflow: hidden;
}
._h80 {
    height: 300px;
    overflow: hidden;
}
._h85 {
    height: 300px;
    overflow: hidden;
}
._h90 {
    height: 300px;
    overflow: hidden;
}
._h95 {
    height: 300px;
    overflow: hidden;
}
._h100 {
    height: 300px;
    overflow: hidden;
}
.block img {
    height: auto;
    width: 110%;
}
.break {
    min-height: 650px;
}

  

}
@media (min-width: 768px) {
	
  h1, h2, h3 {text-align:inherit;}	
 
.largeheader {top:-140px; position:inherit;}  
  
  .rowbr {
    clear:none;
}
div.overflow-container.seventh > a {
    width: 14%;
}
  
  .container.marketing {margin-top:auto;}   
  
.navbar-default,.navbar-inverse  {background:none;}
div#navbar.navbar-collapse.collapse {background:none;}
  div.label-small br {display:inherit;}

.cell_left {width:45%; float:left; padding-right:35px;}
.cell_right {width:45%; float:left;}
  
.cell_left img, .cell_right img {width:250px;}   
  .secondary-caption {margin-left:25px;}

  .secondary-page-height h1, .secondary-page-height h2, .secondary-page-height h3, .secondary-page-height p {
	color:#fff;
	font-size: 4vw  
	}
  
  h1 {bottom:400px; margin-left:24px;}
  
  .container-fluid > .container {padding:0 40px;}
  
   .homeimg {display:inherit;}
  
  .hometitle {display:none;}
  
  .marketing img {width:auto; height:auto;}
 
   div.carousel.secondary-page-height >div.carousel-inner>div.item.active>img {display:inherit;}
  
  .carousel .item {
    height: auto;
}
   
  
  .carousel .item img{width:auto; top:0; left:0;}
    
  .carousel-caption { width:100%; height:150px; text-align:center; left:0; background:none; opacity:.8;}
  
  .carousel-caption .btn-lg {position:inherit; margin:15px 0 0 0;}
    
  .homepage, .black, .homepage p, .black p {font-size:inherit; line-height:inherit; margin:inherit; padding:auto;}
  
  .black, .black p {color:#000;}
  
  .homepage h1, .black h1 {font-size:40px; margin-top:50px;}
  
.navbar-brand {padding:10px 0 0 15px; position:inherit;} 
.navbar-brand img {width:205px; height:auto;}  
.navbar-right  {margin:25px 0 0 -15px;}
  
.embarq-text {
    font-size:30px;
}  
  
div.label1 {bottom:31px; margin-bottom:25px;}
div.label-small {bottom:0px; margin-bottom:25px;}


div.label1.heightfix {bottom:53px; height:auto; margin-bottom:25px;}

  
  .block {     
    min-width:auto;
	}
  
  
.one {width:48%; position:relative;}
.two {width:48%; position:relative;}
.three {width:48%; position:relative;}
.four {width:48%; position:relative;}
.five { width:48%; position:relative;}
.six {width:48%; position:relative;}
.seven {width:48%; position:relative;}
.eight {width:48%; position:relative;}
.nine {width:48%; position:relative;}
.ten {width:48%; position:relative;}
.eleven {width:48%; position:relative;}
.twelve {width:48%; position:relative;}
.thirteen {width:48%; position:relative;}
.fourteen {width:48%; position:relative;}

.high3 {height:250px;}
.high4 {height:250px;}
.high5 {height:250px;}
.high6 {height:250px;}
.high9 {height:250px;}

div.metro-container>ul>li.block.eight.feat {max-height:621px; width:450px;}
  
   .productdetail_footer ul li a {display:inline; float:none; padding:0; margin:0; width:auto; background-color:#fff; color:#76a12b;}
  .productdetail_footer ul li a:hover {background-color:#fff;}
  .productdetail_footer ul li {list-style-type:inherit;}
  .productdetail_footer ul {margin-left:15px; padding:0;}
  .three-quarter {width:57.3%;}
  .quarter {width:38.8%;}

  .fifth {width:19.3%;}

  div.col-md-8 > article > section > div.full > div.full > div.productdetail_footer {width:750px;}
  div.carousel.secondary-page-height >div.carousel-inner>div.item>img {display:inherit;}
  /*div.carousel.secondary-page-height {margin:130px 25px 25px 0px; width:100%;}*/
  div.carousel.secondary-page-height {margin:56px 25px 25px 0px; width:100%;}
  div.carousel.secondary-page-height h1 {color:#fff;}
 
  .carousel {padding-top:120px; width:720px;}
  
  .carousel-caption {left:47%; width:330px; top:150px;}
  
  .secondary-page-height {margin-top:155px;}
  
  .secondary-page-height h1 {margin:0px 0 75px 0px;}
  
  	
.feature-container {display:block;}
.feature-vid {display:none;}

 .sammy-vid {margin-top:155px;}
	
div.carousel-inner > div.item > img {
    margin-top: 0px;
    margin-left:-150px;
    width: 1400px;
  height:auto;
}

.carousel-caption.homepage {position:absolute; bottom:0; margin-top:15px}

  
  .carousel .item {
    height: 600px;
}
.secondary-caption {
    margin-top: 85px;
    text-align: left;
    width: 70%;
}

  .secondary-caption.hero {
    left: 50%;
    margin:250px 0 0 -330px;
    text-align: left;
    top: 180px;
    width: 500px;
}

.smaller {width:130px; float:left;}  
.smaller a img {width:130px; float:left;}   
  
div.col-md-5.smallwidth li {
    float: left;
    width: 150px;
}
	
div#navbar {
    background-color: #fff;
}
div#navbar > ul > li > ul > div > li > a > img {
    display: block;
}
div#navbar > ul > li > ul > div > li > a {
    clear: none;
    float: left;
    margin: 0 0 5px 5px;
    padding: 2px;
    text-align: center;
    width: auto;
}
div#navbar > ul .text-menu {
    margin: -3px 0 0 -5px;
}
div#navbar > ul > li > ul > div > li > a.btn {
    padding: 10px;
}
div#navbar > ul > li > ul {
    width: 700px;
}

div#navbar > ul > li > ul.auto {
    width: 270px;
}

div#navbar > ul > li > ul > div > h3 {
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 10px;
}
div#navbar > ul > li > ul > div {
    margin: 20px 0 0;
}
.menu-header {
    width: 200px;
}
.text-menu {
    clear: both;
    float: left;
    font-size: 14px;
}
.text-menu a {
    color: #78a32f;
    display: block;
    text-decoration: underline;
}
.text-menu a:hover {
    color: #000;
    text-decoration: none;
}
.desc-text {
    font-size: 12px;
}
.desc-text img {
    margin: 0 auto;
}
div#navbar > ul > li > ul > div.col-md-5 {
    float: left;
    width: 430px;
}
div#navbar > ul > li > ul > div.col-md-3 {
    float: left;
    width: 200px;
}
div#navbar > ul > li > ul > div.col-md-4 {
    clear: both;
    float: left;
    width: 250px;
}
div#navbar > ul > li > ul > div > li > a .menu-1 {
    margin: 0 auto;
}
div#navbar > ul > li > ul > div > li {
    margin: 0;
}
.menu2 {
    margin-left: -80.8%;
}
.menu3 {

    margin-left: -227%;
}
.menu4 {
    margin-left: -333%;
}
.menu5 {
    margin-left: -361%;
}
.menu6 {
    margin-left: -323%;
}
.menu8 {
    margin-left: -96.5%;
}
.menu-image {
    display: block;
}
div#navbar > ul > li > ul > div {
    clear: none;
    width: 100%;
}
div#navbar > ul > li > ul > div > li > a.btn {
    background-color: #efefef;
    color: #000;
}
._10 {
    position: relative;
    width: 10%;
}
._20 {
    position: relative;
    width: 20%;
}
._30 {
    position: relative;
    width: 30%;
}
._40 {
    position: relative;
    width: 40%;
}
._50 {
    position: relative;
    width: 50%;
}
._60 {
    position: relative;
    width: 60%;
}
._70 {
    position: relative;
    width: 70%;
}
._80 {
    position: relative;
    width: 80%;


}
._90 {
    position: relative;
    width: 90%;
}
._10 {
    position: relative;
    width: 100%;
}
._15 {
    position: relative;
    width: 15%;
}
._25 {
    position: relative;
    width: 25%;
}
._35 {
    position: relative;
    width: 35%;
}
._45 {
    position: relative;
    width: 45%;
}
._55 {
    position: relative;
    width: 55%;
}
._65 {
    position: relative;
    width: 65%;
}
._75 {
    position: relative;
    width: 75%;
}
._85 {
    position: relative;
    width: 85%;
}
._95 {
    position: relative;
    width: 95%;
}
._h10 {
    height: 200px;
    overflow: hidden;
}
._h15 {
    height: 200px;
    overflow: hidden;
}
._h20 {
    height: 200px;
    overflow: hidden;
}
._h25 {
    height: 200px;
    overflow: hidden;
}
._h30 {
    height: 200px;
    overflow: hidden;
}
._h35 {
    height: 200px;
    overflow: hidden;
}
._h40 {
    height: 200px;
    overflow: hidden;
}
._h45 {
    height: 200px;
    overflow: hidden;
}
._h50 {
    height: 200px;
    overflow: hidden;
}
._h55 {
    height: 200px;
    overflow: hidden;
}
._h60 {
    height: 200px;
    overflow: hidden;
}
._h65 {
    height: 200px;
    overflow: hidden;
}
._h70 {
    height: 200px;
    overflow: hidden;
}
._h75 {
    height: 200px;
    overflow: hidden;
}
._h80 {
    height: 200px;
    overflow: hidden;
}
._h85 {
    height: 200px;
    overflow: hidden;
}
._h90 {
    height: 200px;
    overflow: hidden;
}
._h95 {
    height: 200px;
    overflow: hidden;
}
._h100 {
    height: 200px;
    overflow: hidden;
}
.break {
    min-height: 275px;
}


}
@media (min-width: 992px) {
  
  .largeheader {top:-50px;}  
  
    .homepage h1, .black h1 {font-size:52px; margin-top:0px; }
    .homepage h1 {text-shadow:2px 2px #000;}
    .black h1 {text-shadow:none;}

.navbar-brand img {width:220px; height:auto;}  
  
.navbar-right  {margin:15px 0 0 0;}  
  
 .embarq-text {
    font-size:40px;
   margin-top:25px;
}   
  
.one {width:62px; position:relative;}
.two {width:130px; position:relative;}
.three {width:19%; position:relative;}
.four {width:27.09%; position:relative;}
.five { width:35.1%; position:relative;}
.six {width:39%; position:relative;}
.seven {width:470px; position:relative;}
.eight {width:55%; position:relative;}
.nine {width:606px; position:relative;}
.ten {width:674px; position:relative;}
.eleven {width:742px; position:relative;}
.twelve {width:810px; position:relative;}
.thirteen {width:878px; position:relative;}
.fourteen {width:949px; position:relative;}

.high3 {
	overflow:hidden;
	height:170px;
}
.high4 {height:350px; overflow:hidden;}
.high5 {height:540px;}
.high6 {height:410px;}
.high9 {height:621px;}
  
 div.col-md-8 > article > section > div.full > div.full > div.productdetail_footer {width:970px;}
   div.carousel.secondary-page-height >div.carousel-inner>div.item>img {display:inherit;!important; margin-top:40px}
  /*div.carousel.secondary-page-height {margin:110px 0 25px 0; overflow:hidden;}*/
    div.carousel.secondary-page-height {margin:76px 0 25px 0; overflow:hidden;}
  
  .secondary-page-height {margin-top:120px; margin-bottom:-20px;}
  
  .secondary-page-height h1 {margin-bottom:0px; font-size:3vw;}
  
.carousel-caption {width:450px; top:150px;}
.carousel {padding-top:0px;width:935px;}  

 
  
.feature-container {display:block;}
.feature-vid {display:none;}
	
#sammy-vid-video {width:970px; overflow:visible;} !important;

.sammy-vid {height:640px;}
.sammy-vid {margin-top:0px;} 

div.carousel-inner > div.item > img {
    margin-top: 0px;
    margin-left:-250px;
    width: 150%;
    width:1900px;
}

.carousel .item {
    height: 600px;
}
.secondary-caption {
    margin-top: 85px;
    text-align: left;
    width: 70%;
}
.secondary-caption.hero {
    left: 50%;
    margin:100px 0 0 -440px;
    text-align: left;
    top: 180px;
    width: 500px;
}

.smaller {width:140px; float:left;}  
.smaller a img {width:auto;}    
  
div#navbar > ul > li > ul.auto {
    width: 460px;
}  
  
div#navbar > ul > li > ul > li > a > img {
    display: block;
}
div#navbar > ul > li > ul {
    width: 900px;
}
div#navbar > ul > li > ul > div.col-md-5 {
    float: left;
    width: 450px;
}
div#navbar > ul > li > ul > div.col-md-3 {
    float: left;
    width: 190px;
}
div#navbar > ul > li > ul > div.col-md-4 {
    clear: none;
    float: left;
    margin-bottom: 25px;
    width: 250px;
}
div#navbar > ul > li > ul > div {
    min-height: 285px;
}
.anchor-bottom {
    bottom: 15px;
    left: 32%;
    position: absolute;
    width: 100%;
}

.anchor-bottom-left {
    bottom: 15px;
    left: 10px;
    position: absolute;
    width: 100%;
}

.borderl-menu {
    border-left: 1px solid #c6c6c6;
}
.borderr-menu {
    border-right: 1px solid #c6c6c6;
}
.menu3 {
    margin-left: -227%;
}
.menu4 {
    margin-left: -333%;
}
.menu5 {
    margin-left: -361%;
}
.menu6 {
    margin-left: -323%;
}
.menu7 {
    margin-left: -525%;
}
.menu8 {
    margin-left: -606%;
}
._h10 {
    height: 100px;
    overflow: hidden;
}
._h15 {
    height: 150px;
    overflow: hidden;
}
._h20 {
    height: 200px;
    overflow: hidden;
}
._h25 {
    height: 250px;
    overflow: hidden;
}
._h30 {
    height: 300px;
    overflow: hidden;
}
._h35 {
    height: 350px;
    overflow: hidden;
}
._h40 {
    height: 350px;
    overflow: hidden;
}
._h45 {
    height: 350px;
    overflow: hidden;
}
._h50 {
    height: 500px;
    overflow: hidden;
}
._h55 {
    height: 550px;
    overflow: hidden;
}
._h60 {
    height: 600px;
    overflow: hidden;
}
._h65 {
    height: 650px;
    overflow: hidden;
}
._h70 {
    height: 700px;
    overflow: hidden;
}
._h75 {
    height: 750px;
    overflow: hidden;
}
._h80 {
    height: 800px;
    overflow: hidden;
}
._h85 {
    height: 850px;
    overflow: hidden;
}
._h90 {
    height: 900px;
    overflow: hidden;
}
._h95 {
    height: 950px;
    overflow: hidden;
}
._h100 {
    height: 1000px;
    overflow: hidden;
}
._40._h45 img {
    margin: 0;
}
.break {
    min-height: 400px;
}
}


@media (min-width: 1200px) {

.navbar-brand img {width:250px; height:auto;}  
 
  
.navbar-right  {margin:0 0 15px 0;}   
  
.high3 {
	overflow:hidden;
	height:203px;
}
.high4 {height:415px; overflow:hidden;}
.high5 {height:628px;}
.high6 {height:410px;}
.high9 {height:621px;}
  
div.col-md-8 > article > section > div.full > div.full > div.productdetail_footer {width:1170px;}
  
     div.carousel.secondary-page-height >div.carousel-inner>div.item>img {display:inherit;!important; margin:0 auto;}
  div.carousel.secondary-page-height {margin:0 0 25px; /*height:350px;*/}
  
.secondary-page-height {margin-top:0px; margin-bottom:60px}
  
.secondary-page-height h1 {margin-bottom:-35px; font-size:45px;}
  
.carousel {width:100%; padding-top:0px;}  
  .carousel-caption {top:220px;}
  
#sammy-vid-video {width:1170px; overflow:visible;} !important;
.sammy-vid {height:640px;}

div.carousel-inner > div.item > img {
    margin-top: 0;
}
  
div#myCarousel>div>div>img {margin:0px auto;}
  
.carousel .item {
    height: 600px;
}
.secondary-caption {
   margin-top: 85px;
   text-align: left;
   width: 70%;
}
.secondary-caption.hero {
    text-align: left;
    top: 180px;
    width: 30%;
  margin:100px 0 0 -540px;
}

.smaller {width:170px; float:left;}  

  
div#navbar > ul > li > ul.auto {

    width: 560px;
}    
  
div#navbar > ul > li > ul > div > li > a {
    margin-right: 35px;
}

div#navbar > ul > li > ul > div > li > a.smlist {
    margin-right: 29px;
}

div#navbar > ul > li > ul > li > a > img {
    display: block;
}
div#navbar > ul > li > ul {
    width: 1100px;
}
div#navbar > ul > li > ul > div.col-md-5 {
    float: left;
    width: 550px;
}
div#navbar > ul > li > ul > div.col-md-3 {
    float: left;
    width: 250px;
}
div#navbar > ul > li > ul > div.col-md-4 {
    float: left;
    width: 280px;
}
._h10 {
    height: 100px;
    overflow: hidden;
}
._h15 {
    height: 150px;
    overflow: hidden;
}
._h20 {
    height: 200px;
    overflow: hidden;
}
._h25 {
    height: 250px;
    overflow: hidden;
}
._h30 {
    height: 300px;
    overflow: hidden;
}
._h35 {
    height: 350px;
    overflow: hidden;
}
._h40 {
    height: 400px;
    overflow: hidden;
}
._h45 {
    height: 450px;
    overflow: hidden;
}
._h50 {
    height: 500px;
    overflow: hidden;
}
._h55 {
    height: 550px;
    overflow: hidden;
}
._h60 {
    height: 600px;
    overflow: hidden;
}
._h65 {
    height: 650px;
    overflow: hidden;
}

._h70 {
    height: 700px;
    overflow: hidden;
}
._h75 {
    height: 750px;
    overflow: hidden;
}
._h80 {
    height: 800px;
    overflow: hidden;
}
._h85 {
    height: 850px;
    overflow: hidden;
}
._h90 {
    height: 900px;
    overflow: hidden;
}
._h95 {
    height: 950px;
    overflow: hidden;
}
._h100 {
    height: 1000px;
    overflow: hidden;
}
.break {
    min-height: 500px;
}

}


/******************metro styles **********************************/



.label1 {
    bottom: 81px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.9;
    padding: 5px 15px;
    pointer-events: none;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
}
.label-small {
    background-color: #fff;
    bottom: 50px;
    font-size: 15px;
    padding: 5px 15px;
    pointer-events: none;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
}
ul > li.block._h20 > div.label1, ul > li.block._h30 > div.label1 {
    bottom: 77px;
}
ul > li.block._h20 > div.label-small, ul > li.block._h30 > div.label-small {
    bottom: 46px;
}
ul > li.block._h20 > div.label1.heightfix, ul > li.block._h30 > div.label1.heightfix {
    bottom: 100px;
    height: auto;
}


article section {
    padding: 0;
}
  
 
  ul {margin:0; padding-left:25px;} 

.block:hover {box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);}

.inner-shell {width:110%; height:110%;}

.label1 {        
    bottom: 81px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
	pointer-events:none;

    opacity: 0.9;
	}

.label-small {
	font-size: 15px;
	background-color: #fff;
    bottom: 50px;
    padding: 5px 15px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
	pointer-events:none;
}



.block img {height:auto; transition: all .2s ease-in-out; max-width:105%;}
.block img:hover { transform: scale(1.1); filter: brightness(110%);}


.dark-orange {background-color:#b85f00;}
.turquoise {background-color: #1b9ba0;}
.lime { background-color: #8cc247;}
.purple { background-color:#672184;}
.dark-red { background-color:#882d00;}
.red { background-color:#F00;}
.brown {background-color:#744523;}


.featured-block {
	text-align:center;
	padding:30px;
	color:#fff;
}


.badge { position:absolute; bottom:15%; right:25px; pointer-events:none; z-index:1;}
.badge-top { position:absolute; top:15%; right:25px; pointer-events:none; z-index:1;}
.badge-middle { position:absolute; bottom:40%; right:40%; pointer-events:none; z-index:1;}



.large-text {font-size:32px}

.green-button {background-color:#77a22f; color:#fff;}


	div.metro-container {
    width: 110%;
	margin-left: -30px;
} 

div.metro-container p {margin-left:33px;}


/*FIND EMBARQ START*/


.embarq_find_container {
  padding-left:10px;
  margin-bottom: 15px;
}

.embarq_input_container
{
    background-color:#A1BE6C; 
    padding: 8px;
    width: 100%;
}
.embarq-header
{
    font-size: 18px;
}
.embarq-zip-text
{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}


.space-top {
	margin-top:120px;
	}
	
.heightfix {height:1100px;}
.heightfix2 {height:700px;}

/*FIND EMBARQ END*/