@charset "utf-8";
/* CSS Document */

.aside-nav a {
    background-color: #78a22f;
    color: #fff;
    display: block;
    font-size: 1.1em;
    opacity: 0.7;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.aside-nav a:hover {
    color: #000;
    margin-left: -10px;
    opacity: 1;
}
.aside-nav li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 15px;
}
.aside-nav ul {
    margin: 0;
    padding: 0;
}

/*******footer social icons***********/

.icon-fb, .icon-twit, .icon-gplus, .icon-youtube, .icon-blog, .icon-pinterest, .icon-linkedin, .icon-houzz {float:left; width:34px; height:34px; background-repeat:no-repeat; margin-right:3px;}

.icon-fb:hover, .icon-twit:hover, .icon-gplus:hover, .icon-youtube:hover, .icon-blog:hover, .icon-pinterest:hover, .icon-linkedin:hover, .icon-houzz:hover {background-position:0 -34px;}

.icon-fb {background-image:url(../assets/images/fb-icon.jpg);}

.icon-twit {background-image:url(../assets/images/twit-icon.jpg);}

.icon-gplus {background-image:url(../assets/images/gplus-icon.jpg);}

.icon-youtube {background-image:url(../assets/images/youtube-icon.jpg);}

.icon-blog {background-image:url(../assets/images/blog-icon.jpg);}

.icon-pinterest { background-image:url(../assets/images/pintrest-icon.jpg);}

.icon-linkedin { background-image:url(../assets/images/linkedin-icon.jpg);}

.icon-houzz { background-image:url(../assets/images/houzz-icon.jpg);} 

/****100% image width for product pages****/

.col-md-8 img{ width:100%; height:auto; min-width:250px;}

/** custom menu styles **/

ul.dropdown-menu.wide-menu > li.col-md-12 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-11 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-10 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-9 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-8 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-7 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-6 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-5 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-4 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-3 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-2 > ul > li, ul.dropdown-menu.wide-menu > li.col-md-1 {
    list-style: outside none none;
    margin: 15px 0;
}


ul.dropdown-menu.wide-menu > li.menu-12 > ul > li, ul.dropdown-menu.wide-menu > li.menu-11 > ul > li, ul.dropdown-menu.wide-menu > li.menu-10 > ul > li, ul.dropdown-menu.wide-menu > li.menu-9 > ul > li, ul.dropdown-menu.wide-menu > li.menu-8 > ul > li, ul.dropdown-menu.wide-menu > li.menu-7 > ul > li, ul.dropdown-menu.wide-menu > li.menu-6 > ul > li, ul.dropdown-menu.wide-menu > li.menu-5 > ul > li, ul.dropdown-menu.wide-menu > li.menu-4 > ul > li, ul.dropdown-menu.wide-menu > li.menu-3 > ul > li, ul.dropdown-menu.wide-menu > li.menu-2 > ul > li, ul.dropdown-menu.wide-menu > li.menu-1 {
    list-style: outside none none;
    margin: 15px 0;
	float:left;
}

/*ul.dropdown-menu.wide-menu > li > ul > li > a > img {
    min-width: auto;
    width: auto;
}
ul.dropdown-menu.wide-menu > li > ul > li {
    text-align: center;
    width: auto;
  padding:0 7px;
}*/

ul.dropdown-menu.wide-menu > li, ul.dropdown-menu.wide-menu > ul {
    float: left;
    list-style: outside none none;
    margin: 0;
}

ul.dropdown-menu.wide-menu > ul {padding:0 20px; text-align:center; min-height:260px;}

ul.dropdown-menu.wide-menu > ul.text-menu {padding:0 20px; text-align:left; line-height:25px;}
ul.dropdown-menu.wide-menu > ul.text-menu > ul:first-child {padding:0px;}



@media (min-width: 468px) {
ul.dropdown-menu.wide-menu {
    width: 190px;
  color:red;
}

  div#navbar>ul>li>ul>ul>li, div#navbar>ul>li>ul>ul {width:auto;float:left;clear:both}
  div#navbar>ul>li>ul>ul>li>a>img {display:none;}
  div#navbar>ul>li>ul>ul {width:100%;}

}


@media (min-width: 768px) {
ul.dropdown-menu.wide-menu {
    width: 690px;
   color:blue;
}

  div#navbar>ul>li>ul>ul>li>a>img {display:block; width:100%; height:auto;}

}


@media (min-width: 992px) {
ul.dropdown-menu.wide-menu {
    width: 910px;
}
  div#navbar>ul>li>ul>ul>li>a>img {width:auto; height:auto;}
}
@media (min-width: 1200px) {
ul.dropdown-menu.wide-menu {
    width: 1100px;
}
   div#navbar>ul>li>ul>ul>li>a>img {width:auto; height:auto;}
}




.menu-border {
    border-right: 1px solid #c6c6c6;
	margin-right:15px;
	min-height:220px;
}

ul.dropdown-menu.wide-menu .container {width:95%; margin:0 auto; padding:0;}

ul.dropdown-menu.wide-menu h3 {font-size:16px; margin:0px 0px 15px 0px;}

.menu-1 {width:100%; float:left; text-align:center;}
.menu-2 {width:50%; float:left; position:relative;}
.menu-3 {width:33%; float:left;}
.menu-4 {width:25%; float:left; position:relative;}
.menu-5 {width:20%; float:left;}
.menu-6 {width:16.66%; float:left;}
.menu-7 {width:14.3%; float:left;}
.menu-8 {width:12.5%; float:left;}
.menu-9 {width:11%; float:left;}
.menu-10 {width:10% float:left;}
.menu-11 {width:1%; float:left;}
.menu-12 {width:8%; float:left;}

.menu-40 {width:42%; float:left;}
.menu-60 {width:60%; float:left;}

div#navbar img {width:auto;}

.dropdown-menu {padding:20px 0;}

.text-menu {margin:0; padding:0;}

.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    line-height: 1.33333;
	font-size:inherit;
}
.btn-primary {
    background-color: #f1f1f1;
    color: #000;
	border:none;
}

.btn-primary:hover {background-color:#000;}

.anchor-bottom { position:absolute; bottom:0px; left:0;}
