@charset "utf-8";
/* CSS EntryLINK custom styles for news posts */

/*custom styles to look like provia.com for news items*/


table.MenuBar {
	color:#fff;
	background-color:78A22F;
	width:100%;
	border-collapse:collapse;
}

table.MenuBar a {
    color: white;
    font-size:inherit;

}



body, table, option, .option, .text {
    font-size: 14px;
}

.btn  {
    background-color: #83b234;
    border: medium none;
    color: #fff !important;
    text-decoration: none !important;
  	text-transform: uppercase;
    font-size: 1.5em;
}
  
.btn:hover {background-color:#3d3d3d; color:#fff;
    color: #fff !important;
}

table br {display: none;}

a	{	
	color:#83b234;
	}	
		
		
a:hover	{	
	color:#3d3d3d;
	}

#cnt-main-new {
max-width: 800px;
margin:0 auto;
}


