
.sammy-vid {
width:100%;
display:block;
background-image:url(/images/aws/products/embarq-header-1.jpg);
background-size:100%;
height:640px;
background-repeat:no-repeat;
min-width:600px;
}
  

#sammy-vid-video
{
margin: 0 0 -25px;
	display:block;
	left:0px;
	top: 0px;
 max-width:1140px;
}

#sammy-vid-video:hover {
position:relative;
z-index:5;
}

.hide {
display:none;
}

.secondary-caption {
    top: -24px;
}

@media (min-width: 268px) {
.carousel  .item {padding-top:100px;}
  .feature-vid {margin-top:95px;}
}   

@media (min-width: 786px) { 
  #sammy-vid-video {margin-top:50px;}
.carousel  .item {padding-top:0px;}
.carousel {height:600px;}
.carousel-inner {overflow:visible;}
.carousel .container {margin-top:-244px; width:100%; padding:0px;}
}
  
  @media (min-width: 992px) { 
    #sammy-vid-video {width:940px; margin-top:0px}
 .carousel .item {padding-top: 60px;} 
    .carousel {width:938px; height:600px;} 
    .carousel .container {margin-top:0px;}
  }  
  
  @media (min-width:1200px) { 
    #sammy-vid-video {width:1140px;}
    .carousel .item {padding-top: 155px;} 
  .carousel {width:1140px; height:800px;} 
  }

h1 {display:none;}