@charset "utf-8";


.aside-nav a:hover:after {
display:none;
}

.iframe .iframe-hide, #roof-zip {display:none;}

div.col-md-12 > .iframe-show {
  display: inherit !important;
}

.iframe-show h1 {
    margin:0 !important; padding: 0 !important; line-height: 1.1em !important;
}




body
{
	background-image: none;
}

.iframe .col-md-12 {
    margin-top: 0 !important;
}

.iframe .main537 .col-md-12 {
    margin-top: 0 !important;
}


.iframe .iframe-ra-mobile .related-articles{
	display: block;
}

.iframe .col-md-4 .related-articles{
	display: none;
}

.iframe .related-articles img{
	max-width: 300px;
	display: none;
}

.iframe .iframe-crystal-award{
	display: block;
	clear: both;
}

.iframe .productfooter img{
	display: none;
}




/* iframe specific styles here *********/

.iframe .carousel-inner {min-height:150px;}
.iframe .col-md-8 {margin:0;}

/* hide footer on all product detail pages */
.iframe .productdetail_footer
{
	display: none;
}



#iframe_title_container
{
	display: none;
}

@media (min-width: 286px) {
    
.iframe-show > div.carousel-inner > div.item img  {
    display: none;
    margin: -140px 0 0 -1220px !important;
}   
    
.iframe-show.carousel {margin:-350px 0 0 -25px; !important; width:120% !important;}

.iframe-show > div.carousel-inner {
    height:350px !important;
}
    
    
    
 .productfooter {width:100%;}

.iframe .secondary-caption {left:0; top:0; position:inherit; padding-top:20px; margin:0 0 0 15px;}
.iframe .secondary-page-height {height:auto;}
.iframe div.secondary-caption h1{line-height:1em; font-size:35px;}
.iframe div.carousel.secondary-page-height {margin:0;}
.iframe .carousel .item {display:block; height:100px;}
.iframe .secondary-page-height.featuremovie {height:250px;}
.iframe .feature-vid {margin:10px 0 0 0;}
.iframe .carousel .item {
    padding-top: 0px;
}
 .iframe .featuredimg {
    margin: -150px 0 65px;
    width: 85%;
}

}

@media (min-width: 786px) {

 .iframe-show > div.carousel-inner > div.item img  {
    display: inherit;
    margin: -10% 0 0 -33% !important;
} 
    
.iframe-show.carousel {margin:0; !important; width:150% !important;}

.iframe-show > div.carousel-inner {
    height:350px !important;
    margin:0 0 0 -25% !important;
}    
    
 .productfooter {width:900px;}
  
.iframe ul.aside-nav > li > a {min-height:auto;}

 
.iframe div.carousel-inner > h1.header-img > img.featuredimg {width:750px; display:block; left:50%; margin-left:-350px; width:380px}
.iframe h1.header-img > img.featuredimg {display:block; position:absolute; left:15%; z-index:1; width:380px; top:450px;} 
  
.iframe .secondary-caption {left:0; top:0; position:absolute; padding-top:80px; margin:0 0 0 30px;}
/*.secondary-page-height {height:150px;}*/
.iframe div.secondary-caption h1{line-height:1em;}
.iframe div.carousel.secondary-page-height {margin:0;}
.iframe .carousel .item {display:block; height:300px;}
.iframe div.carousel { padding:0;}  
.iframe .secondary-page-height.featuremovie {height:480px;}
.iframe .featuremovie .carousel-inner {margin-top:-50px}
.iframe .featuredimg {
    margin: -250px 0 95px -25px;
    width: 470px;
}




}


@media (min-width: 992px){

    
.iframe-show.carousel {margin:-2% 0 0 15%; !important; width:120% !important;} 
    
    
 .productfooter {width:33%;}

.iframe .iframe-ra-mobile .related-articles{
	display: none !important;
}

.iframe .col-md-4 .related-articles{
	display: block !Important;
}

.iframe .related-articles img{
	max-width: 100%;
}

.iframe .productfooter img{
	display: block !important;
}


.iframe .iframe-crystal-award{
	display: none !important;

}
  
.iframe div.carousel-inner > h1.header-img > img.featuredimg {width:750px; display:block; left:50%; margin-left:-180px; width:380px}

.iframe .secondary-caption {left:0; top:0; position:absolute; padding-top:240px; margin:0 0 0 30px; width:100%;}
/*.secondary-page-height {height:300px;}*/
.iframe div.secondary-caption h1{line-height:1em; font-size:45px;}
.iframe div.carousel.secondary-page-height {margin:0;}
.iframe .carousel .item {display:block; height:300px;}
.iframe div.carousel { padding:0 } 
.iframe .featuremovie .carousel-inner {margin-top:0px}
.iframe .secondary-page-height.featuremovie {height:600px;}

}



@media (min-width: 1200px) {

  .iframe-show > div.carousel-inner > div.item img  {
    margin: -140px 0 0 -210px !important;
} 
    

    
.iframe div.carousel-inner > h1.header-img > img.featuredimg {width:750px; display:block; left:50%; margin-left:-180px; width:380px; top:350px}
}


@media (min-width: 1600px) {
    .iframe-show > div.carousel-inner > div.item img  {
    margin: -140px 0 0 -950px !important;
    max-width: 150% !important;
} 
    
}


.iframe .navbar-toggle {z-index:1;}

.iframe body, html {
margin:0; padding:0; font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:1em; font-size:1em; background-image:none; 
}


.iframe .clear {clear:both;}

.iframe .clearfix {
	content:"";
	display:block;
	overflow:hidden;
	}

.iframe .cnt-article-photo {
    margin: -122px -30px 0;
    overflow: visible;
}

.iframe #nav-breadcrumb {display:none;}

.iframe p { line-height:160%; font-size:0.8em; }	

.iframe h1 {  text-transform:uppercase; }
.iframe h2, .iframe .h2 {
    font-size:  1.25em !important;}
.iframe h3 { font-size:1.15em; }
.iframe h4 { margin-bottom:.4em; margin-top:1.5em; font-size:1.1em; }
.iframe a { color:#6B8C21; outline:none; }
.iframe a:hover { color:Black; }

.iframe h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 140%;
}

.iframe h3 {
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.iframe h4 {
	border-bottom:1px solid #CCC;
	padding-bottom:5px;
	margin: 0 0 5px;
	font-size:.8em;
	font-weight:bold;
	}

/*color schemes*****************/

.iframe #cnt-main-default a.linkframe
{
	color:#000;
}

.iframe #cnt-secondary-standard-red, .iframe #cnt-main-red, .iframe #cnt-secondary-standard-blue, .iframe #cnt-main-blue, .iframe #cnt-secondary-standard-grey, .iframe #cnt-main-grey
{
    width: 100%;
}

.iframe #cnt-main-default ul.aside-nav a {
     background-color: #e6e6e6; 
	 
} 
.iframe #cnt-main-default a { color:#6B8C21; outline:none; }
.iframe #cnt-main-default a:hover { color:Black; }
	 
	 
.iframe #cnt-main-grey  ul.aside-nav a {
     background-color: #666; 
	 color:#fff !Important;
}
.iframe #cnt-main-grey a { color:#666; outline:none; }
.iframe #cnt-main-grey a:hover { color:Black; }	 
	
.iframe #cnt-main-red ul.aside-nav a {
     background-color: #ff0000; 
	 color:#fff !Important;
}

.iframe #cnt-main-red a { color:#ff0000; outline:none; }
.iframe #cnt-main-red a:hover { color:Black; }	 

.iframe #cnt-main-blue ul.aside-nav a {
     background-color: #0033CC; 
	 color:#fff !Important;
}

.iframe #cnt-main-blue a { color:#0033CC; outline:none; }
.iframe #cnt-main-blue a:hover { color:Black; }	 	 




/*end color schemes***************/

.iframe .slider-wrapper {margin:0 auto; width:100%;}

.iframe .main-vid {
    background-color: transparent;
    opacity: 0;
}

.iframe .aside-nav li {
    margin: 0 0 0 -15px;
}

.iframe .cnt-article-photo img {width:100%;height:100%;}

.iframe #cnt-main li {
    font-size: 0.8em;
	 margin: 0;
    padding-bottom: 8px;
}

.iframe ul {
    margin-left: 1.2em;
    padding: 0;
}

.iframe li {
    font-size: 0.8em;
	margin: 0;
    padding-bottom: 8px;
}

.iframe .feature-menu li {
	display:inline;
	float:left;
	margin-left:11px;
	}

.iframe .feature-menu ul li a {
	width:100px;
	height:8px;
	display:block;
	text-decoration:none;
	color:#fff;
	font-size:11px;
	text-align:center;
	padding-top:97px;
	}

.iframe .feature-menu > ul > li:first-child {
    margin: 0 0 0 -1px;
}


.iframe article section {
   /* padding: 30px;*/
}


.iframe ul.product-image-gallery.gallery-fix > li.cell {width:20%;}

.iframe ul.product-image-gallery.gallery-fix > li.cell img {width:100%;}


.iframe ul.product-image-gallery
{
list-style: none;
font-size:12px;
margin:0;
}

.iframe ul.product-image-gallery > li.cell
{
float:left;
margin:0 9px 4px 0;
}

.iframe a.current {
	color:#000;
	opacity:1;
	margin-left:-10px;
	cursor:default;
	}
	

.iframe .full, .iframe .full-default, .iframe .full-grey, .iframe .full-red, .iframe .full-blue {
    float: left;
    margin-top: 15px;
    position: relative;
    width: 100%;
    z-index: 0;
}

/*.full ul,.full-default ul, .full-grey ul, .full-red ul, .full-blue ul {
    margin: 0 0 0 13px;
}*/

.iframe .aside-nav {margin-bottom:25px;}

.iframe .cell-left {
    float: left;
    padding-right: 25px;
	    width: 63%;
}

.iframe .cell-right  {
	width:31%;
	border:none;
    position: absolute;
    right: 0;
	top:0;
	z-index:2;
	}
	
.iframe .cell-padded {
    padding: 48px 0 0 25px;
    width: 300px;
}

.iframe .three-quarter {
    float: left;
    width: 57.3%;
}
.iframe .quarter {
    float: left;
    width: 40%;
}
.iframe .fifth {
    float: left;
    margin-left: 1px;
    width: 19.3%;
}
.iframe .twofifth {
    float: left;
    width: 38%;
}
.iframe .list-left {
    float: left;
    width: 46%;
}
.iframe .full ul {
    margin: 0 0 0 13px;
}
.iframe .caption {
    height: auto;
}
.iframe .aside-nav a {
    color: #fff;
    display: block;
    font-size: 1.1em;
    opacity: 0.7;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.iframe .aside-nav a:hover {
    color: #000;
    margin-left: -24px;
    opacity: 1;
}
.iframe .aside-nav li {
    list-style-type: none;
    padding: 0 0 15px;
}
.iframe .aside-nav ul {
    margin: 0;
    padding: 0;
}

/*img {width:100%;
  height: auto;
}*/

.iframe td img {width:auto;}

.iframe .nolist img {width:auto;}

.iframe .quarter img {width:auto;}

/*.iframe .fancybox-buttons img {height:auto; width:auto;}*/

.iframe .stormtable{
	max-width: 150% !important;
	max-height: 150% !Important;
}

.iframe #sb-loading-inner span {width:16px; height:16px;}

.iframe #lightbox-loading {width:16px; height:16px; position:absolute; left:50%;}


.iframe ul.product-image-gallery > li.cell.double-cell {
    margin: 0 9px 0 0;
}

.iframe ul.product-image-gallery > li.cell.main-cell {
    margin: 0;
}

.iframe .main-cell a img {width:100%; padding-right:10px;}

.iframe .double-cell a img {width:100%; padding-right:10px;}

.iframe .main-cell img, .double-cell img {
    box-shadow: none;
    box-sizing: none;
}

.iframe li.cell.main-cell {width:11.84%;}

.iframe li.cell.double-cell {width:24.5%;}

.iframe .trim  {padding-left:4px;}


/*FIND EMBARQ START*/


.iframe .three-quarter-container {width:55%; float:left;}


.iframe #lightbox-image-customize {display:none;}

.iframe .reset-width {width:100%;}

.iframe .heightfix {height:1100px;}
.iframe .heightfix2 {height:700px;}

/*FIND EMBARQ END*/

.iframe .container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*.iframe{
	margin: 20px 45px 30px 45px;
}*/

.iframe .row {
    padding-top: 0 !important;
}