/* incontext buttons */
.incontext.button, .button.includeproducts { font-family:Arial,Helvetica,Sans-Serif; opacity:0.8; filter:alpha(opacity=80); position: absolute; cursor:pointer; display:block; background-color:#accc62; color:#FFF; z-index:9999; padding:3px 5px; border:solid 2px #FFF; font-size:11px; text-transform:uppercase; }
.button.includeproducts { padding: 0px 1px; height: 15px; }
.incontext.button:hover, .button.includeproducts:hover { border-color:#6B8C21; color:#6B8C21; opacity:1;filter:alpha(opacity=100); }

.inline.button { font-family:Arial,Helvetica,Sans-Serif; opacity:0.8; filter:alpha(opacity=80); position:absolute; cursor:pointer; display:block; background-color:#accc62; color:#FFF; z-index:1000; padding:3px 5px; border:solid 2px #FFF; font-size:11px; text-transform:uppercase; }
.inline.button:hover { border-color:#6B8C21; color:#6B8C21; opacity:1;filter:alpha(opacity=100); }

.relationships .editmodal { position: relative; top: -4px; width: 21px; float: left; margin: 0 5px 0 0; }
.relationships .includeproducts { position: relative;  width: 10px !important; float: right !important; margin: 0 0 0 5px; }

.secondary-page-height {z-index:auto;}

/* incontext header */
#incontext-header { height: 25px; width: 100%; margin:20% auto 0; padding: 5px 0; position: fixed; font-size: 13px; z-index:9999; }
#incontext-header a { text-decoration: none; display: block; }
#incontext-header a:hover { text-decoration: underline; }

#incontext-header ul { list-style-type: none; margin: 0; }
#incontext-header ul li { float: left; padding: 0; width: 200px; clear:both; }
#incontext-header ul li a { padding:10px; border-bottom: solid 1px #accc62; }
#incontext-header ul ul li { border-left: 1px solid #ACCC62; border-bottom: 1px solid #ACCC62; }
#incontext-header ul ul li a { padding: 4px 15px; }
#incontext-header ul li.lst a { border-right: 0; }
#incontext-header ul li a:hover { background-color: #accc62; color: #FFF; text-decoration: none; }

#incontext-header #authentication { position: absolute; right: 10px; top: 8px; }
#incontext-header #authentication a { float:left; padding-left:10px; text-decoration:underline; }
#incontext-header #authentication a:hover {  text-decoration:none; }

/* editor windows */
.editor-block { text-align: left; font-size: 12px; overflow-y: auto; position: relative; z-index:10004; padding-bottom:8px;  }
.editor-block.frame { text-align: left; font-size: 12px; overflow-y: auto; max-height: 1000px; position: relative; z-index:10004; }
.editor-block h3 {  }
.editor-block .editor-row { clear: both; margin-bottom: 10px; }
.editor-block .editor-row .editor-label { float: left; width: 120px; margin-right: 15px; }
.editor-block .editor-row .editor-field { float: left; }
.editor-field {width:100%;}
.editor-block .editor-row .editor-field input[type="text"] { width: 322px; }
.editor-block .editor-row .editor-field.short input[type="text"] { width: 222px; }
.editor-image { clear:both; }

/* multiple relationship editor */
.relationships {min-height:300px; position: relative;  }
.rel-list { float:left; width:48%; text-align:center;}


#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 20px; float: left; margin-right: 10px; border: solid #6B8C21 1px; max-height: 250px; height: 250px; overflow-y:scroll; overflow-x: hidden; min-width: 180px; font-size: .9em; }
#sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 0.8em; width: 175px; cursor: pointer; min-height: 17px; overflow: hidden; }
#sortable1 li.addproducts { background: #fdf59f !important; } 
#sortable1 .incontext.button, #sortable2 .incontext.button { width: 30px; float: left; height: 15px; position: static; padding: 0px 0px; margin-right: 5px; }
#sortable1 span, #sortable2 span { float: left; display: block; min-height: 12px; width: 120px;  text-align: left; line-height:15px; }
#sortable1 span.inproductspan { width: 90px; }

#rich-product-options-detail > li { position: relative; }
#rich-product-options-detail > li > .incontext.button { top: 0px; left: 0px; }
	
.field-validation-error {color :Red;}
	
#incontext-header ul#nav {
list-style: none;
padding: 0;
margin: 0;
}
#incontext-header li {
float: left;
position: relative;
background-color:#FFF;
}
#incontext-header ul#nav li a {
display: block;
}
#incontext-header li ul {
display: none;
position: absolute;
top: 0;
left: 0;
margin: -25px 150px;
z-index:9999;
}

#incontext-header li > ul {
top: auto;
left: auto;
}
#incontext-header li:hover ul, li.over ul {
display: block;
}

#imgselector 
{
	text-align:left;
}

#imgselector li
{
	float: left;
	position: relative;
	list-style: none;
	padding: 6px;
}

#uploader
{
	border:0;
}
.frame 
{
	overflow:hidden;
}

.assetuploader
{
    border-width: 0px;
  
}
.float_right
{
    float: right;
}
.folderinput
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.2em;
}

.file-upload-buttons > a
{
    font-family: Verdana,Arial,sans-serif;
    color: Black;
    font-size: 12px;
}


#asset-list { overflow:auto; height:300px; }
#asset-mgr { margin-top:8px; }
#asset-mgr li img { width:100px;}
#asset-mgr div.frame {width:80px; height:80px; overflow:hidden;}
#asset-mgr li {font-size:0.7em; padding:5 5; width:100px; cursor:pointer; overflow:hidden;}
#asset-mgr li.ui-selected {background-color:#dbf1a5;}
.selectorlink {height:20px;}

table.item-list {width:100%; }
table.item-list th {font-size:1.0em; padding:10px 0px;}
table.item-list th.cmd {width:85px;}
table.item-list td {font-size:0.8em; padding:7px 4px; text-align:left;}
table.item-list td#item-list-pagename {width:221px;}
table.item-list td#item-list-shortname {width:221px;}
table.item-list td#item-list-actions {width:77px;}
#list-cnt {max-height:400px; overflow:auto;}

#pub-list {font-size:0.8em; float:left;}
#pub-list dt {width:5%;}
#pub-list dd {width:85%;}

.ui-dialog { background-color:#fff; }