.cnt-article-photo img { display:none;}

.cnt-article-photo { margin:0;}

.cell-left {
    width: 100%;
}

.cell-right {
    float: right;
    width: 100%;
	position:inherit;
	 text-align: center;
}


.aside-nav li {
    display: inline;
}

.aside-nav a {
	 margin: 0px;
	  padding: 5px;
	}

.aside-nav a:hover {
	margin:0px;
	}

ul {
margin:0;
}

div.cell-right > ul > li
{
list-style:none;
}

#cnt-main-default .full-default .aside-nav a {
 background-color: #c3c3c3;
    color: #000;
}

.cell-right p {
	margin:0;
	padding:0;
	}
	
h1 {display:none;}

.heightfix  {height:auto;}
.heightfix2 {height:auto;}