header {
	position:absolute;
}
h3 {
	border-bottom:1px solid #666;
	padding-bottom:5px;
	margin-bottom:10px;
	}

h4 {
	border-bottom:1px solid #CCC;
	padding-bottom:5px;
	margin: 0 0 5px;
	font-size:.8em;
	font-weight:bold;
	}
	

.feature-menu li {
	display:inline;
	float:left;
	margin-left:11px;
	}

.feature-menu ul li a {
	width:100px;
	height:8px;
	display:block;
	text-decoration:none;
	color:#fff;
	font-size:11px;
	text-align:center;
	padding-top:97px;
	}